.repository-image-container {
  width: 250px;
  height: 120px;
  background-color: #e5eef2;
  border-radius: 20px;
  overflow: hidden;
}

.repository-image-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 120px;
  position: relative;
  right: 0px;
  top: -150px;
}

.repository-image-circle {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 1000px;
  right: -137px;
  top: -75px;
  background-color: #e4d6f4;
}

.repository-image-text {
  font-size: 18px;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
  width: 100px;
}

.repository-image-language {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: -2px 2px 5px rgb(180, 180, 180);
}
