.h1 {
  font-size: 40px;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
}

.h2 {
  font-size: 32px;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
  color: rgb(0, 115, 177);
}

.h3 {
  font-size: 22px;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
}

.paragraph {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-device-width: 480px) {
  .h1 {
    font-size: 26px;
  }

  .h2 {
    font-size: 24px;
  }

  .paragraph {
    font-size: 14px;
  }
}
