.menuButton {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  margin: 0px;
  border: 0px;
  color: black;
  background-color: #00000000;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.menuButton:hover {
  animation-name: upOnHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.menuButton:not(hover) {
  animation-name: downOutHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes upOnHover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes downOutHover {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.button {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  color: rgb(250, 250, 250);
  background-color: rgb(0, 115, 177);

  border: 2px solid rgb(0, 115, 177);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  animation-name: onHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.button:not(hover) {
  animation-name: outHoverBotton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.switch-left-selected {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  color: rgb(250, 250, 250);
  background-color: rgb(0, 115, 177);

  border: 2px solid rgb(0, 115, 177);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.switch-left {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  border: 2px solid rgb(0, 115, 177);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.switch-right {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  border: 2px solid rgb(0, 115, 177);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.switch-non-selected {
  animation-name: onHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.switch-selected {
  animation-name: outHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.icon-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;

  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  color: rgb(0, 115, 177);
  background-color: rgb(250, 250, 250);

  border: 2px solid rgb(0, 115, 177);
  border-radius: 30px;
  cursor: pointer;

  width: fit-content;

  padding: 4px 8px;
  margin: 0px;
}

.icon-button-text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  margin-left: 8px;
}

.icon-button-text:hover {
  animation-name: outHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.icon-button-text:not(hover) {
  animation-name: onHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes onHoverButton {
  0% {
    background-color: rgb(0, 115, 177);
    color: rgb(250, 250, 250);
  }
  100% {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 115, 177);
  }
}

@keyframes outHoverButton {
  0% {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 115, 177);
  }
  100% {
    background-color: rgb(0, 115, 177);
    color: rgb(250, 250, 250);
  }
}
