body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  animation: fadeIn 1.5s forwards;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
