@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.isHidden {
  display: none;
}

.isBlue {
  color: rgb(0, 115, 177);
}

.c-body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  animation: fadeIn 1.5s forwards;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.c-body::-webkit-scrollbar {
  display: none;
}

.c-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-right: 32px;
  background-color: rgb(230, 230, 230);
  position: fixed;
  top: 0;
  width: calc(100% - 48px);
}

.c-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 500px;
}

.c-main {
  padding-top: 250px;
  padding-bottom: 70px;
}

.c-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  background-color: rgb(230, 230, 230);
}

.c-h1 {
  font-size: 40px;
  font-family: "JetBrains Mono", monospace;
  line-height: 46px;
  margin: 0px;
}

.c-h1--type-witter {
  height: 90px;
}

.c-h2 {
  font-size: 24px;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
}

.c-h3 {
  font-size: 22px;
  font-family: "JetBrains Mono", monospace;
  margin: 0px;
}

.c-h4 {
  margin: 0px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.c-p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.c-p--little {
  font-size: 14px;
}

.c-p--gray {
  color: gray;
}

.c-button {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  color: rgb(250, 250, 250);
  background-color: rgb(0, 115, 177);

  border: 2px solid rgb(0, 115, 177);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.c-button:hover {
  animation-name: onHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.c-button:not(hover) {
  animation-name: outHoverBotton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.c-button-reverse {
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;

  color: rgb(0, 115, 177);
  background-color: rgb(250, 250, 250);

  border: 2px solid rgb(0, 115, 177);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.c-button-reverse:hover {
  animation-name: outHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.c-button-reverse:not(hover) {
  animation-name: onHoverButton;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.c-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 200px);
}

.c-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-title {
  padding: 160px 0px 40px 0px;
  text-align: center;
}

.c-my-description {
  align-items: left;
  height: 326px;
  width: 500px;
  margin-right: 50px;
}

.c-ability-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  text-align: center;
  margin: 20px;
}

.c-ability-container .c-p {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

.c-ability-box {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;

  width: 124px;
  height: 90px;

  border: 1px solid #e6e6e6;
  border-radius: 15px;
  box-shadow: -2px 2px 5px rgb(180, 180, 180);
}

.c-ability-box:hover {
  animation: pingPong 1.5s infinite;
}

@keyframes pingPong {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.c-ability-box__image {
  height: 40px;
  width: 40px;
  margin: 4px;
}

.c-ability-box__image--small {
  height: 32px;
  width: 32px;
}

.c-project-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 250px;

  border: 1px solid rgb(221, 221, 221);
  border-radius: 30px;

  margin: 16px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.c-project-box__image {
  height: 120px;
  width: 100%;
  border-radius: 20px;
}

.c-project-box__tech-icons-container {
  display: flex;
  flex-direction: row;
  align-items: left;

  width: 100%;
  height: fit-content;
  margin-top: 16px;
}

.c-project-box__tech-icon {
  height: 32px;
  margin-right: 8px;
}

.c-project-box .c-h3 {
  margin: 16px 0px 4px 0px;
}

.c-project-box .c-p {
  margin: 0px 0px;
  text-align: center;
}

.c-project-box .c-p--little {
  margin: 0px 0px;
  text-align: center;
}

.c-project-box .c-p--gray {
  margin-top: 16px;
  text-align: left;
}

.c-project-box .c-button-reverse {
  cursor: pointer;

  width: 154px;

  padding: 4px 8px;
  margin: 4px 0px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
}

.c-project-box__icons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.c-project-box__icon {
  margin: 0px;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.c-experience-box {
  width: 600px;

  border: 1px solid rgb(221, 221, 221);
  border-radius: 30px;

  margin: 16px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.c-experience-box .c-h4 {
  margin-top: 4px;
}

.c-experience-box .c-p {
  margin-top: 8px;
  margin-bottom: 0px;
}

.c-frag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 20px;
}

.c-adress__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  cursor: pointer;
}

.c-adress__contact {
  font-family: "Montserrat", sans-serif;
  margin: 0px 8px;
}

.c-adress__icon {
  height: 16px;
  margin: 0px 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
#################################################
Media Query
*/

@media only screen and (max-device-width: 450px) {
  .c-menu {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .c-h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .c-h1--type-witter {
    font-size: 28px;
  }

  .c-section--scrollOnMobile {
    flex-direction: row;
    overflow-x: scroll;
  }

  .c-section__container {
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }

  .c-section__container--stayOnMobile {
    flex-direction: row;
  }

  .c-section__container--scrollOnMobile {
    flex-direction: row;
  }

  .c-my-image {
    width: 200px;
    height: 200px;
  }

  .c-my-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 16px;
    width: 94vw;
    text-align: center;
    height: 410px;
  }

  .c-social-icons {
    margin-left: 0px;
  }

  .c-softSkills-box {
    width: 120px;
    height: 100px;
    border-radius: 14px;
    margin: 4px;
  }

  .c-softSkills-box .c-h3 {
    font-size: 16px;
  }

  .c-ability-box {
    width: 110px;
    margin: 4px;
    border-radius: 14px;

    height: 294px;
  }

  .c-ability-box--small {
    width: 140px;
    height: 80px;
  }

  .c-ability-box__image {
    height: 40px;
    width: 40px;
    margin: 16px;
  }

  .c-ability-box .c-h3 {
    font-size: 16px;
    text-align: center;
    height: 8px;
    margin-bottom: 16px;
  }

  .c-ability-box--small .c-h3 {
    margin: 0px;
  }

  .c-ability-box__description {
    display: none;
  }

  .c-ability-box .c-p {
    font-size: 12px;
  }

  .c-list {
    width: 100%;
    padding: 0px;
  }

  li {
    font-size: 12px;
    margin-left: 20px;
  }

  .c-experience-box {
    width: 80%;
    border-radius: 24px;
  }

  .c-adress {
    width: 90%;
    text-align: center;
  }

  .c-my-name {
    margin-bottom: 22px;
  }

  .c-my-name .c-h2 {
    font-size: 32px;
  }

  .c-footer {
    flex-direction: column;
    padding: 70px 0px;
  }
}
