.title-container {
  padding: 160px 0px 40px 0px;
  text-align: center;
  height: 92px;
}

.title-text {
  font-size: 40px;
  font-family: "JetBrains Mono", monospace;
  line-height: 46px;
  margin: 0px;
}

.title-text-blue {
  font-size: 40px;
  font-family: "JetBrains Mono", monospace;
  line-height: 46px;
  margin: 0px;
  color: rgb(0, 115, 177);
}
