.c-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-right: 32px;
  background-color: rgb(230, 230, 230);
  position: fixed;
  top: 0;
  width: calc(100% - 48px);
}

.c-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 500px;
}

.c-header .c-menu .c-button {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  margin: 0px;
  margin-right: 32px;
  border: 0px;
  color: black;
  background-color: #00000000;
  cursor: pointer;
}

.c-header .c-menu .c-button:hover {
  animation-name: upOnHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.c-header .c-menu .c-button:not(hover) {
  animation-name: downOutHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes upOnHover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes downOutHover {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.c-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 96px;
}

.c-social-icons__image {
  cursor: pointer;
}
