.c-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 200px);
}

.c-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
