.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
  height: calc(100vh - 370px);
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-repos-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.repo-container {
  height: 140px;
  width: 310px;
  margin-right: 16px;
}

@media only screen and (max-device-width: 480px) {
  .projects-section {
    height: calc(100dvh - 200px);
  }

  .projects-container {
    justify-content: flex-start;
    width: 100dvw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}
