.section-frag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 120px;
  height: calc(100vh - 430px);
}

.frag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.frag-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;

  border: 1px solid #e6e6e6;
  border-radius: 15px;
  box-shadow: -2px 2px 5px rgb(180, 180, 180);
}

.section-description {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 420px;
  margin-left: 32px;
}

.frag-about-container {
  width: 100%;
  height: fit-content;
}

.frag-about-container h2 {
  margin-bottom: 8px;
  margin-top: 32px;
}

.frag-about-container li {
  margin-bottom: 12px;
}

@media only screen and (max-device-width: 480px) {
  .section-frag {
    height: calc(100dvh - 230px);
    justify-content: space-between;
    margin-top: 16px;
    padding-bottom: 120px;
  }

  .section-description {
    font-size: 18px;
    width: calc(100% - 16px);
    text-align: center;
    margin-left: 0px;
  }

  .frag-container {
    flex-direction: column;
  }

  .frag-about-container img {
    width: 100%;
    height: auto;
  }
}
